# ===============================
# NODE MODULES
# ===============================
node_modules/

# ===============================
# ENV FILES (variáveis de ambiente)
# ===============================
.env
.env.*

# ===============================
# LOG FILES
# ===============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# BUILD / DIST
# ===============================
dist/
build/

# ===============================
# COVERAGE
# ===============================
coverage/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / EDITORS
# ===============================
.vscode/
.idea/

# ===============================
# INFO
# ===============================
info.txt

# ===============================
# YARN
# ===============================
yarn.lock